<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>


<!--ion-content>
    <ion-list *ngFor="let run of runs; let i = index" >
        <ion-list-header>
          {{ run.fecha }}
        </ion-list-header>
        <ion-list *ngFor="let r of runs; let j = index" >
          <button ion-item (click)="mostrarInfo(r)" *ngIf="r.fecha === run.fecha"  detail-none>
            {{ r.hora }}
          </button>
      </ion-list>
  </ion-list>
</ion-content-->

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

    <ion-list  >
        <ion-list-header *ngFor="let f of fecha; let i = index" no-lines no-padding>
          <button ion-item (click)="toggleSection(i)" >
            <ion-icon item-left name="arrow-forward" *ngIf="!buttonHeader[i]"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="buttonHeader[i]"></ion-icon>
              {{ f }}
          </button>
        <ion-list *ngIf="buttonHeader[i]" no-lines>
          <ion-list-header *ngFor="let r of listado(f)"  no-padding>
            <button ion-item (click)="mostrarInfo(r)"  detail-none>
              {{ r.hora }}
            </button>
          </ion-list-header>
        </ion-list>
      </ion-list-header>
    </ion-list>
</ion-content>
