<ion-header no-border>
  <ion-navbar color='rojointenso'>
    <ion-title>
      Historial
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Desliza para actualizar"
      refreshingSpinner="circles"
      refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>

    <ion-list  >
        <ion-list-header *ngFor="let f of fecha; let i = index" no-lines no-padding>
          <button ion-item (click)="toggleSection(i)"  [ngClass]="{'section-active': buttonHeader[i]}">
            <ion-icon item-left name="arrow-forward" *ngIf="!buttonHeader[i]"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="buttonHeader[i]"></ion-icon>
              <h1>{{ f }}</h1>
          </button>
        <ion-list *ngIf="buttonHeader[i]" no-lines>
          <ion-list-header *ngFor="let r of listado(f)"  no-padding>
            <button ion-item (click)="mostrarInfo(r)"  detail-none>
              <ion-icon name="clock" item-start large></ion-icon>
              <h1 class="card">{{r.hora}}</h1>
            </button>
          </ion-list-header>
        </ion-list>
      </ion-list-header>
    </ion-list>
</ion-content>
