<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>


<!--ion-content>
    <ion-list *ngFor="let run of runs; let i = index" >
        <ion-list-header>
          {{ run.fecha }}
        </ion-list-header>
        <ion-list *ngFor="let r of runs; let j = index" >
          <button ion-item (click)="mostrarInfo(r)" *ngIf="r.fecha === run.fecha"  detail-none>
            {{ r.hora }}
          </button>
      </ion-list>
  </ion-list>
</ion-content-->

<ion-content padding>
    <ion-list>
        <ion-list-header *ngFor="let o of orden; let i = index">
          {{ o.fecha }}
        </ion-list-header>
        <ion-list *ngFor="let r of o.runs; let j = index" >
          <button ion-item (click)="mostrarInfo(r)" detail-none>
            {{ r.hora }}
          </button>
      </ion-list>
  </ion-list>
</ion-content>
