<ion-header no-border>
  <ion-navbar color='rojointenso'>
    <ion-title>
      Historial
    </ion-title>
  </ion-navbar>


  <ion-toolbar color='rojointenso'>

    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY" min="2016" max="2020-10-31"
          [(ngModel)]="fechaseleccionada" (ionChange)="activo()"
          monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
          monthShortNames="Ene, Fev, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
          cancelText="Cancelar"
          doneText="Aceptar"
          dayValues="{{this.diasEntrenados}}"
          monthValues="{{this.mesesEntrenados}}"
          yearValues="{{this.anyosEntrenados}}"
          placeholder="Pulse aquí para seleccionar una fecha"
          ></ion-datetime>
    </ion-item>
    

  </ion-toolbar>

</ion-header>

<ion-content >

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Desliza para actualizar"
      refreshingSpinner="circles"
      refreshingText="Refrescando...">
    </ion-refresher-content>
  </ion-refresher>

  <h3>Hola, seleccione una fecha en la barra superior blanca :)</h3>

    <!--ion-list  >
        <ion-list-header *ngFor="let f of fecha; let i = index" no-lines no-padding>
          <button ion-item (click)="toggleSection(i)"  [ngClass]="{'section-active': buttonHeader[i]}">
            <ion-icon item-left name="arrow-forward" *ngIf="!buttonHeader[i]"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="buttonHeader[i]"></ion-icon>
              <h1>{{ f }}</h1>
          </button>
        <ion-list *ngIf="buttonHeader[i]" no-lines>
          <ion-list-header *ngFor="let r of listado(f)"  no-padding>
            <button ion-item (click)="mostrarInfo(r)"  detail-none>
              <ion-icon name="clock" item-start large></ion-icon>
              <h1 class="card">{{r.hora}}</h1>
            </button>
          </ion-list-header>
        </ion-list>
      </ion-list-header>
    </ion-list-->

        <ion-list *ngIf="activ" no-lines>
          <ion-list-header *ngFor="let r of listado()"  no-padding>
            <button ion-item (click)="mostrarInfo(r)"  detail-none>
              <ion-icon name="clock" item-start large></ion-icon>
              <h1 class="card">{{r.hora}}</h1>
            </button>
          </ion-list-header>
        </ion-list>


</ion-content>
